@media  screen and (max-width: 320px){
    #top-carousel {
        margin-top: 51px;
        width: 320px;
    }
    .line-header {
        width: 290px;
    }
    .black-line {
        top: 0;
        position: absolute;
        height: 51px;
    }
    .my-caption {
        top: 10%;
    }
    .my-caption h1{
        font-size: 14px;
    }
    .my-caption h1:after{
        width: 128px;
        margin: 6px auto;
    }
    .my-caption h2{
        font-size: 11px;
    }
    .my-caption a{
        margin: 10px auto 0 auto;
    }
    .car-ind2 .active {
        border: 1px solid #929292;
    }
    .car-ind2 li {
        border: 1px solid #929292;
    }
    .menu {
        margin-top: 15px;
    }
    .title {
        left: 16%;
    }
    .login {
        display: none;
    }
    .basket {
        width: 30px;
        height: 25px;
        background-size: cover;
        display: block;
        margin: 11px -4px 0 0;
    }
    .basket:before {
        width: 23px;
        height: 23px;
        left: -8px;
    }
    .basket:after {
        font-size: 13px;
        top: 2px;
        left: 0;
    }
    .wraper {
        width: 320px;
    }
    .title-wraper {
        font-size: 18px;
        margin: 26px 0 21px 0;
    }
    .title-wraper:before{
        width: 41px;
        height: 7px;
        left: 4px;
    }
    .title-wraper:after{
        width: 41px;
        height: 7px;
        right: 4px;
    }
    .car-img{
        width: auto;
        height: auto;
    }
    .img1 {
        width: 293px;
        height: 216px;
    }
    .name{
        padding-top: 99px;
    }
    .img2 {
        width: 288px;
        height: 216px;
        float: left;
        margin-top: 12px;
        margin-bottom: 12px;
    }
    .img3 {
        width: 292px;
        height: 166px;
    }
    .img3 .name {
        padding-top: 74px;
    }
    .img4{
        width: 294px;
        height: 313px;
        float: left;
        margin-top: 12px;
    }
    .img4 .name {
        padding-top: 151px;
    }
    .img5{
        width: 295px;
        height: 293px;
        margin-top: 11px;
    }
    .img5 .name {
        padding-top: 137px;
    }
    .img6{
        width: 293px;
        height: 176px;
        float: left;
        margin-top: 10px;
    }
    .img6 .name {
        padding-top: 79px;
    }
    .wraper2{
        width: 320px;
        margin-top: 33px;
    }
    .title3-wraper {
        margin: 31px 0 0 0;
    }
    .title3-wraper:before{
        top: 4px;
        left: 47px;
    }
    .title3-wraper:after{
        top: 5px;
        right: 47px;
    }
    .letter{
        width: 292px;
        margin-bottom: 5px;
        height: 41px;
        padding-top: 12px;
    }
    .letter:after{
        display: none;
    }
    .send{
        float: left;
        width: 292px;
        height: 41px;
    }
    .field{
        margin: 0 0 5px 0;
        width: 292px;
        height: 41px;
    }
    .field1{
        margin: 0 0 5px 0;
    }
    .footer{
        display: none;
    }
    .footer-mobile{
        height: 48px;
        background-color: #f1f1f1;
        position: relative;
    }
    .footer-mobile:after{
        content: "";
        background: url('../images/img-mob-footer.png');
        width: 79px;
        height: 18px;
        position: absolute;
        display: block;
        left: 131px;
        top: 15px;
    }
    .sale{
        margin-top: -71px;
    }
    .sale:before{
        top: 74px;
        left: 18px;
    }
    .sale:after{
        top: 128px;
        left: 38px;
    }
    .sale-add:before{
        top: 52px;
        left: 74px;
    }
    .sale-add:after{
        top: 73px;
        left: 55px;
    }
    .it-mca {
        margin-top: -15px;
    }
    .sale{
        margin-top: -71px;
    }
    .iconDIVISORIA {
        margin: 15px auto 0 auto;
    }
    .iner-wrap1{
        display: none;
    }
    .iner-wrap1-carusel1{
        display: block;
    }
    .img11 {
        margin: 0 25px !important; 
        width: auto;
        height: auto;
    }
    .img22 {
        margin: 0 25px !important; 
        width: auto;
        height: auto;
    }
    .img33 {
        margin: 0 25px !important; 
        width: auto;
        height: auto;
    }
    .img44 {
        margin: 0 25px !important; 
        width: auto;
        height: auto;
    }
    .img55{
        margin: 20px 25px !important; 
        width: auto;
        height: auto;
    }
    .img{
        width: auto;
        height: auto;
    }
    .title2-wrape {
        margin: 0;
    }
    .mymulti{
        height: 265px !important;
    }
    .my-glyph{
        top: 18px;
    }
    .iner-wrap2{
        display: none;
    }
    .iner-wrap2-carusel2{
        display: block;
    }
    .myform {
        margin: 0 0 61px -15px;
        width: 0;
        font-size: 19px;
    }
}